.container_on_choose_goods{
    display: flex;
    flex-wrap:wrap;
    margin-left:-20px;
    margin-top: 60px;
}

.choose_goods_container{
  display: flex;
  justify-content: space-between;
  flex:0 1 calc((100% - 60px)/3);
  margin-left:20px;
  margin-top:30px;
  border: 1px solid #CDCDCD;
  box-sizing: border-box;
  border-radius: 2px;
  min-height: 198.4px;
}
.choose_goods_container_body{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-content: space-between;
    padding-left: 20px;
}
.choose_goods_container_body_item{
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #2F3035;
}
.choose_goods_container_body_more{
    display: flex;
}
.choose_goods_container_body_more_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color:#C4C4C4;
}
.choose_goods_container_body_more_item{
    display: flex;
    align-items: flex-end;
    color:#C4C4C4;
    font-size:13px;
}
/* .choose_goods_container_body_more_item:after{
    content: '\27A4';
} */
.choose_goods_container_image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:0 0 165px; 
    margin-right: 15px;
    /* overflow: hidden; */
}

.choose_goods_container_image img{
    max-width:100%;
}
