
.App{
    max-width: 1171px;
    margin: 0 auto;
}

.container_sliger_cardsile{
    display: flex;
    justify-content: space-between;
    margin-top: 81px;
}

.container_on_choose_goods{
    display: flex;
}
